.left-message {
    -fx-background-color: #0ea7b5;
    -fx-border-radius: 10 10 5 5;
    -fx-background-radius: 10 10 10 0;
}

.right-message {
    -fx-background-color: #ffbe4f;
    -fx-border-radius: 10 10 5 5;
    -fx-background-radius: 10 10 0 10;
}

.message-backdrop {
    
}

#active_conversation_title_bar {

}

#active_conversation_title_bar_title {

}

/* HOME SCREEN (HOME TAB) */

.menu-button {
    -fx-background-color: #666699;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-font-family: Verdana, Tahoma;
    -fx-font-weight: 600;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 16px;
}

.menu-button:hover {
    -fx-background-color: derive(#666699, -5%);
}

.menu-button:pressed {
    -fx-background-color: #52527a;
}

.menu-button-toggled {
    -fx-background-color: #52527a;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-font-family: Verdana, Tahoma;
    -fx-font-weight: 600;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 16px;
}

.menu-button-toggled:hover {
    -fx-background-color: derive(#52527a, -5%);
}

#connect_message {
    -fx-font-weight: bold;
    -fx-font-family: Verdana, Tahoma;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 36px;
}

/* ALL TABS */

.tab-background {
    -fx-background-color: #404040;
}

.tab-header-background {
    -fx-background-color: derive(#52527a, -10%);
    -fx-border-color: transparent transparent #303030 transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1px;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-font-family: Verdana, Tahoma;
    -fx-text-fill: whitesmoke;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: #808080;
    -fx-border-color: #303030 #303030 #303030 #303030;
    -fx-color: #808080;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #404040;
    -fx-color: #404040;
    -fx-border-color: #303030 #303030 #404040 #303030;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab .focus-indicator {
    -fx-border-color: transparent;
}

/* ROOT */

.root-pane {
    -fx-background-radius: 6;
    -fx-border-color: #303030;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.root {
    -fx-focus-color: transparent;
    -fx-background-color: #404040;
}